In [4]:
#first python workshop w1d1 .
# indentation errror , is a error related to in appropriate spacing, so be aware of it.
print ("hello python")

#input : use to take the input from the usear.
# here <user_name> is a variable .
# we can not store multiple values in one variable
# one variable can store 1 single value
user_name = "diayana"
# after useng the same variable <user_name > for the second time to get the input it only has only one value that is stored in it which is the input value.

user_name = input("Enter your name :")
print(user_name ," welcome to python .")
# u can also write as
print(" Hello  " + user_name + "  welcome to pyhton ." )


# type : to determine the types of the data types
a = 10
print(type(a))
b = 10.5
print(type(b))
c = "michal boss "
print(type(c))
d = True
print(type(d))

# take age as an input and display it's type
user_age = input("Enter your age:")
print("Data scientist at the age of  " + user_age )
print(type(user_age))
# type conversion
# lets change the variable user_age from <str> data type in to a <int> data type.
# u can only concat the string not a integer to the string.
user_age = int(input("Enter your age :"))
print(user_age )
print(type(user_age))

# take two numbers in display its output .
a = int(input("Enter first number "))
b = int(input("Enter second number "))
c = a*b
print("The product of a and b is " + str(c))
# in the above line we have done type conversion of <int> into string
#       because we can not concat a string with an int type so we converted
#         so we converted <c> from int data type to string data type.

# list of data types in python
print(" integer , string , bool ,list , tuple , set , Dictionary , complex")

# list data type : is a collection of different values,
#                   they are saperated by coma,
#                   values are stored in the square bracket.
#                   elements of a list are accessed through indexing .
#                   index always starts with 0

# store age of 10 students in a class.
age_value = [25,29,23,27,24,28]
print("list of age_value: " + str(age_value))
print(age_value)
print(age_value[0])
print(age_value[1])
print(age_value[2])
print(age_value[3])
print(age_value[4])

# print the name of the person of that age in the list and then concat the list with the age.
Name_Of_Users = ["tomholand","Sadhaya","Monish","Tejal","Aishwariya","soni" ]
print(Name_Of_Users ,age_value)
# here in the above line we have concatenated the <Name_Of_User> with <age_value>
# remember pyhton is a case sensitive language.
print(Name_Of_Users[0] , age_value[0])

# Operators
# Arithmetic : + , - , * , / , %
# Comparison : == , >= , > , < , <= , !=
# Logical : and , or , not
# Assignment : = , += , -=
# Membership : in , not in

hello python
Enter your name :hina
hina  welcome to python .
 Hello  hina  welcome to pyhton .
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
Enter your age:45
Data scientist at the age of  45
<class 'str'>
Enter your age :34
34
<class 'int'>
Enter first number 23
Enter second number 35
The product of a and b is 805
 integer , string , bool ,list , tuple , set , Dictionary , complex
list of age_value: [25, 29, 23, 27, 24, 28]
[25, 29, 23, 27, 24, 28]
25
29
23
27
24
['tomholand', 'Sadhaya', 'Monish', 'Tejal', 'Aishwariya', 'soni'] [25, 29, 23, 27, 24, 28]
tomholand 25

In [ ]:
#Python w1d1 ct
#T-1
Username = input()
print("hello"+Username+",Congratulations on your first python program!!")

#T-2
dividend=int(input())
divisor=int(input())
print("Quotient is :" ,dividend/divisor)

#T-3
user_name = input()
user_age = input()
user_gender = input()
user_occupation = input()
print(user_name + " is " + user_age + " years old " + user_gender+" " + user_occupation)

#T-4
lenght = float(input())
breadth = float(input())
area = lenght*breadth
print("The area of the rectangle is " + str(area))

#T-5
number =int(input())
number = number+1
print("The incremented number is " + str(number))

In [ ]:
#w-1d-2 ct
#WAP that takes marks of 3 subjects of a student and find the total marks
#use list to do the above problem
marks = []                                                  # here we have not given the size of the list - the size of the list
marks.append(int(input("Enter the marks for subject SQL"))) #     deffines the bucket size of the list -which means how much can a list have .
marks.append(int(input("Enter the marks of subject python")))
marks.append(int(input("Enter the marks of subject mis")))
total = marks[0]+marks[1]+marks[2]
print(total)
# while adding elements to a list we need to use append .
age =[99,98,97]
print("age "+ str(age[1]))
#here in the above age we alwarady know the value of the index and size of the list ,
# so we directly had entered the index of the list and got the value.
# so when ever we are assigning value directly to a list we hav eto use append function .

Enter the marks for subject SQL3
Enter the marks of subject python7
Enter the marks of subject mis6
16
age 98

In [ ]:
# write a program to take 2 numbers from the user and display the largest of them
# if statement
# if <condition> :
#      #do(somthing)
#else :
#      #do(something)
a = 10
b = 12
if a < b :
  print("b is greater " )
else :
  print("a is greater ")
# space between key words
# indentation shod be proper

b is greater

In [ ]:
# Take input from the user and display if it is positive or negative .
a = int(input("Enter a number a:"))
if a > 0 :
     print(" a is POSITIVE integer.")
else :
      print(" a is NRGATIVE integer")
#every if/else condition should have at least in if/else block
#else block should always match its corresponding if block

Enter a number a:2
 a is POSITIVE :

In [ ]:
# Ask the user for their credit score and income to determine if they are elegible for a credit card .
# credit score greater than 600 and income greater than 50,000
u_creditscore = int(input("Enter your CREDIT score : "))
u_income = int(input("Enter your income:"))
if ((u_creditscore > 600) and (u_income >50000)) :
  print("You are elegible for the credit card !")
else :
  print("You are not elegible for credit card . ")

Enter your CREDIT score : 650
Enter your income:100000
You are elegible for the credit card !

In [ ]:
#Ask the user to enter a number and check if it is even or odd
a = int(input("enter a number"))
if a % 2 == 0 :
  print("The number is even.")
else :
  print("The number is odd. ")

enter a number4
The number is even.

In [ ]:
# Ask a user to enter their age and classify them in to different age groups.
# age less then 18 is minor ,age between 18 and 65 is adult , age above 65 is senior.
age = int(input("Enter your age:"))
if age < 18:
  print("minor")
elif age >= 18 and age < 65 :
  print("adult")
else :
  print("senior")

Enter your age:18
adult

In [ ]:
#check if a student's gread falls into a different categories(A,B,C,D,orF) by taking students marks as input
#marks >90 : A ,80-90 : B ,70-80 : C , 60-70 : D else F
marks = int(input("Enter the marks of the student "))
if marks > 90:
  print("A")
elif marks >80 and marks<=90:
  print("B")
elif marks >70 and marks<=80:
  print("c")
elif marks >60 and marks<=70:
  print("D")
else :
  print("F")

Enter the marks of the student 98
A

In [5]:
# Ask the user to enter three sides and classify the type of a triangle
# equilateral = 3 sides same
#isosceles = 2 sides same
#scalene = no sides same

s1 = int(input("Enter the first side of the triangle:"))
s2 = int(input("Enter the second side of the triangle:"))
s3 = int(input("Enter the third side of the triangle:"))

if s1 == s2 and s2 == s3 :
  print("Triangle is a equilateral Triangle")
elif s1 == s2 and s2 != s3:
  print("Triangle is a isosceles Triangle")
elif s3 == s1 and s2 != s1:
  print("Triangle is a isosceles Triangle")
elif s2 == s3 and s1 != s2:
  print("Triangle is a isosceles Triangle")
else :
  print("Triangle is a scalene Triangle")

# All the isosceles triangle formula can also be written as given bellow.
# elif s1 == s2 or s2 == s3 :

Enter the first side of the triangle:5
Enter the second side of the triangle:8
Enter the third side of the triangle:9
Triangle is a scalene Triangle

In [ ]:
# Ask the user to enter the total puchase amount and their membership status .
# apply discount on the base of the following condition
# - IF total purchase is $ 100 or more apply 10% discount .
# - If total purchase is $200 or more and user is a premium customer ,apply 15% discount .
# - If the total purchase is less than $ 100 and is a premium customer apply , 5% discount .
# - If non of the above condition match then provide a standard 0% discount .
# TPM = total purchase amount .
#MS = Membership_status
#discountamount = discount * TPM
#TotalAmount = TPM - discountamount

TPM = int(input("Enter the purchase amount :"))
MS = input("enter the membership satus :")
if MS == ("premium") and TPM >= 200 :
  print("15% discount !")
  discount = 0.15
  discountamount = discount * TPM
  TotalAmount = TPM - discountamount
  print("Total amount to pay : " + str(TotalAmount)) # concatination used

elif TPM >= 100 :
  print(" 10% discount")
  discount = 0.01
  discountamount = discount * TPM
  TotalAmount = TPM - discountamount
  print("Total amount to pay : " + str(TotalAmount))  # concatination used

elif MS == ("premium") and TPM < 100 :
  print("5% discount")
  discount = 0.05
  discountamount = discount * TPM
  TotalAmount = TPM - discountamount
  print("Total amount to pay : " + str(TotalAmount))  # concatination used

else :
  print("0% discount")
  discount = 0
  discountamount = discount * TPM
  TotalAmount = TPM - discountamount
  print("Total amount to pay : " + str(TotalAmount))  # concatination used

Enter the purchase amount :45
enter the membership satus :no
0% discount
Total amount to pay : 45

In [ ]:
# The program written another way.
amount = int(input("Enter the purchase amount :"))
mem = input("Are you a premium member:")
discount = 0
if amount >= 100 :
  discount = 0.1
elif amount >=200 and mem == "yes":
  discount = 0.15
elif amount < 100 and mem == "yes":
  discount = 0.5

discountvalue = discount * amount
totalamount = amount - discountvalue
print( totalamount )

# not a correct program as per the out put.

Enter the purchase amount :45
Are you a premium member:no
45